{% import "_includes/forms" as forms %}

{% includeCssResource "maps/css/global_maps.css" %}
{% includeJsResource "maps/js/global_maps.js" %}

{% set mapjs %}
    if (typeof(JDB) == 'undefined' || ( ! JDB instanceof Object)) JDB = new Object();
	if (typeof(JDB.google_maps) == 'undefined' || ( ! JDB.google_maps instanceof Array)) JDB.google_maps = new Array();

	arrKey = JDB.google_maps.push({
		init : {
			api_key: '{{ googleMapsApiKey }}',
			map_field: '{{ namespacedId }}',
			map_container: '{{ namespacedId }}-container',
			mapLat: {{ (map.mapLat is defined and map.mapLat != '' ? map.mapLat : settings.mapLat) }},
			mapLng: {{ (map.mapLng is defined and map.mapLng != '' ? map.mapLng : settings.mapLng) }},
			mapZoom: {{ (map.mapZoom is defined and map.mapZoom != '' ? map.mapZoom : settings.mapZoom) }},
			pinLat: {{ (map.pinLat is defined and map.pinLat != '' ? map.pinLat : settings.mapLat) }},
			pinLng: {{ (map.pinLng is defined and map.pinLng != '' ? map.pinLng : settings.mapLng) }},
			address_input: '{{ namespacedId }}-address',
			address_submit: '{{ namespacedId }}-address-submit',
			overlay_container: '{{ namespacedId }}-optionaloverlay-container',
			overlay_reset: '{{ namespacedId }}-optionaloverlay-reset',
			overlay_field: '{{ namespacedId }}-optionaloverlay-field',
			existing_data: '',
			pin_center_control: '{{ namespacedId }}-center-pin'
		},
		options : {
			ui_zoom: '1',
			ui_scale: '',
			ui_overview: '',
			ui_map_type: '',
			ui_streetview: '',
			ui_pan: '1',
			ui_rotate: '',
			ui_disable: '',
			map_drag: '1',
			map_click_zoom: '',
			map_scroll_zoom: '1',
			map_type_default: '',
			pin_drag: '1',
			background: ''
		}
	});

	initializeSingle(arrKey-1);

{% endset %}
{% includeJs mapjs %}

<div class="maps-ft-container">

	<div>

		<div id="{{ id }}-container" class="maps-ft-map" rel="{{ name }}" style="height:{{ settings.showHeight }}px">
			Sorry, javascript is required for this map
		</div>

		<div class="sb-google-map-address-lookup">
			<input type="hidden" class="sb-map-field {{ name }}" name="{{ name }}" id="{{ id }}" value=""/>

			<div class="sb-google-map-address-input-container">

				{% if optional == true %}
					<span id="{{ id }}-optionaloverlay-field" rel="0"/>
				{% endif %}

				{% if settings.showAddress %}
				<div style="width:25%; float:left; padding-right : 5px;">
					{{ forms.textField({
			            placeholder: "eg. London, UK"|t,
			            id: id~'-address'
			        }) }}
		        </div>
				<input id="{{ id }}-address-submit" class="sb-google-map-address-submit btn" type="button" value="Find Address"/>
				{% endif %}

				{% if optional == true  %}
					<a href="#" id="{{ id }}-overlay-reset">Clear field</a>
				{% endif %}

				<a href="#" class="sb-google-map-pin-center-control" id="{{ id }}-center-pin">Center Pin</a>
			</div>
		</div>

		{% if optional == true  %}
			<div class="maps-ft-container-message" id="{{ id }}-optionaloverlay-container"><p>No location data set <a href="#" class="maps-ft-set-location">Add a location</a></p></div>
		{% endif %}


	</div>
</div>
